:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--pressed-state);
}

.list {
  list-style-type: none;
  display: flex;
  gap: 40px;
}

.logo-first-part {
  font-family: "Raleway", sans-serif;
  color: var(--primary-brand);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 76px;
}

.logo-first-part-footer {
  font-family: "Raleway", sans-serif;
  color: var(--primary-brand);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 76px;
}

.logo-second-part {
  color: var(--dark);
}

.logo-footer {
  color: var(--light);
}

.header-block {
  border-bottom: 1px solid #e7e9fc;
}

.menu-nav {
  color: var(--dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.menu-nav:hover,
.menu-nav:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

.contacts-header {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  letter-spacing: 0.02em;
}

.contacts-header:hover,
.contacts-header:focus {
  color: var(--pressed-state);
}

.hero-block {
  background-color: var(--dark);
  height: 600px;
  display: flex;
  align-items: center;
  padding: 188px 0;
}

.hero-title {
  margin: 0 auto;
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 48px;
  text-align: center;
  max-width: 496px;
}

.hero-button {
  margin: 0 auto;
  min-width: 169px;
  font-family: inherit;
  color: #ffffff;
  background-color: var(--primary-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  display: block;
  height: 56px;
  cursor: pointer;
}

.hero-button:focus,
.hero-button:hover {
  outline: none;
  background-color: var(--pressed-state);
}

.main-subtitle {
  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.feature-header {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.feature-description {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-block {
  background-color: var(--light);
  height: 732px;
  padding: 120px 0;
}

.members {
  display: flex;
  gap: 24px;
}

.member-card {
  width: calc((100% - 48px) / 3);
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.about-member {
  padding: 32px 16px;
}

.member {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.member-post {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.filters-block {
  padding-top: 96px;
  padding-bottom: 120px;  
}

.filters {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.filter {
  font-family: inherit;
  color: var(--primary-brand);
  background-color: var(--light);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid var(--accent);
  border-radius: 4px;
  padding: 12px 24px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.04em;
}

.filter:hover,
.filter:focus {
  outline: none;
  background-color: var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
  border: 1px solid transparent;
}


.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  background-color: var(--dark);
  height: 312px;
  padding: 100px 0;
}

.footer-text {
  color: var(--light);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.normalize {
  font-style: normal;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.principles-block {
  padding: 120px 0;
}


.principles {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}

.principle {
  width: calc((100% - 72px) / 4);
}

.actings-block {
  padding-bottom: 120px;
}

.actings {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 120px;
}
.acting {
  width: calc((100% - 48px) / 3);
}

.menu {
  display: flex;
  align-items: center;
  height: 72px;
  justify-content: space-around;
}

.navigation {
  display: flex;
  align-items: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
  padding-bottom: 120px;
}

.about-product {
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
}

.product {
  width: calc((100% - 48px) / 3);
}
.project-name {
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-description {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}